{% extends 'music_items/layout.html' %}

{% block content %}
<div class="banner-album">
   <div class="album-photo">
   <img src="/static{{ album.photo.url }}" alt="{{ album.name }} Cover">
   </div>
   <div class="info">
      <div>Album</div>
      <div class="title">{{ album.name }}</div>
      <div>{{ album.release_year }} | {{ song_count }} songs</div>
      <div></div>
      <button class="play-album fa-solid fa-play"></button>
   </div>
</div>

{% for song in songs %}
<div class="song-single album-single-elem" data-audio="/static{{ song.audio_file.url }}">
   <div class="album-photo">
      <img src="/static{{ song.albums.first.photo.url }}" alt="{{ song.album.name }}">
   </div>
   <div class="play-button-con">
   <button class="play-button fa-solid fa-play"></button>
   </div>
   <div class="info">
   <h3 class="name">{{ song.song_name }}</h3>
   <a href="#" class="album">{{ song.albums.first.name }}</a>
   <a href="#" class="singer">{{ song.singers.first.name }}</a>
   </div>
</div>
{% endfor %}
{% endblock %}