{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}{% endblock %}</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Nova+Square&family=Teko&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="{% static '/css/null.css' %}">
   <link rel="stylesheet" href="{% static '/css/colors.css' %}">
   <link rel="stylesheet" href="{% static '/css/style.css' %}">
   <link rel="stylesheet" href="{% static '/css/artist_detail.css' %}">
   <link rel="stylesheet" href="{% static '/css/album_songs.css' %}">

</head>

<body>
<canvas id="canvas"></canvas>
<div class="container">
   <header>
      <div class="container header-container">
         <div class="logo">SoundVibe</div>
         <ul class="header-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/artists">Artists</a></li>
            <li><a href="/admin">Sign in</a></li>
         </ul>
         <form action="{% url 'search'%}" method="get">
         
            <input type="search" type="text" name="q" placeholder="Search ...">
            <button class="fas fa-search" type="submit"></button>
         
         </form>
      </div>
   </header>
</div>

   <div class="container main-list">
   {% block content %}
   {% endblock %}
   </div>
   <div class="container player-container">
      <audio class="audio" src=""></audio>
      <div class="player player-hidden">
         <div class="info">
            <div class="cover"><img src="" alt="album" class="cover__img"></div>
            <div class="info-right">
               <div class="song"></div>
               <div class="player-album"></div>
            </div>
         </div>
         <div class="progressTime">
            <div class="timer">g</div>
            <div class="progress__container">
               <div class="progress"></div>
            </div>
         </div>
         <div class="buttons">
            <div class="btn prev"><i class="fas fa-backward"></i></div>
            <div class="btn play"><i class="img__src fas fa-play"></i></div>
            <div class="btn next"><i class="fas fa-forward"></i></div>
         </div>
      </div>
   </div>
</body>
<footer>


   <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
   <script src="../../static/js/player.js"></script>
   <script src="../../static/js/background.js"></script>
   <script src="../../static/js/script.js"></script>
</footer>
</html>