body {
   background-color: var(--background-color);
   font-family: 'Teko', sans-serif;
   position: relative;
}
canvas {
   width: 100%;
   height: 100%;
   position: absolute;
}
.container {
   position: relative;
   width: 100%;
   max-width: 1240px;
   padding: 0px 20px;
   margin: 0 auto;
}
.main-list {
   padding-top: 110px;
   padding-bottom: 140px;
   display: flex;
   flex-direction: row;
   gap: 20px;
   flex-wrap: wrap;
   justify-content: center;
}
.logo {
   font-family: 'Nova Square', sans-serif;
   color: var(--text-color);
   font-size: 24px;
   align-self: center;
}
header {
   padding: 20px 10px;
   background-color: rgba(0, 0, 0, 0.35);
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 4;
   width: 100%;
   transition: 0.4s;
}
header.scrolled {
   background-color: rgba(0, 0, 0, 0.8);
   transition: 0.4s;
}
.header-container {
   display: flex;
   justify-content: space-between;
}
.header-menu {
   display: flex;
   flex-direction: row;
   gap: 20px;
   color: var(--text-color);
   list-style: none;
   padding: 0;
}
.header-menu a {
   text-decoration: none;
   color: #fff;
   font-size: 18px;
   transition: 0.4s;
}
.header-menu li {
   align-self: center;
}
.header-menu li:hover a{
   transition: 0.4s;
   color: var(--hover-color)
}
header form {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}
header form input {
   outline: none;
   border: none;
   background-color: transparent;
   border-radius: 8px;
   padding: 5px 10px;
   color: #fff;
}
header .fa-search {
   outline: none;
   border: none;
   background-color: transparent;
   color: #fff;
}
input::placeholder {
   color: #fff;
}
.song-single {
   transition: 0.4s;
   position: relative;
   width: 220px;
   padding: 10px;
   background-color: rgba(255,255,255, 0.15);
   overflow: hidden;
}
.song-single .album-photo {
   width: 200px;
   height: 200px;
}
.song-single .album-photo img {
   width: 100%;
   height: 100%;
}
.song-single .name {
   color: var(--text-color);
   font-size: 20px;
   padding-top: 5px;
}
.song-single a {
   display: block;
   font-family: 'Inter', sans-serif;
   text-decoration: none;
   color: #fff;
}
.song-single .play-button {
   color: #fff;
   background-color: var(--text-color);
   border: none;
   width: 45px;
   height: 45px;
   border-radius: 50px;
   position: absolute;
   z-index: 2;
   right: -20px;
   bottom: -20px;
   transition: 0.4s;
   visibility: hidden;
   opacity: 0;
}
.song-single:hover .play-button {
   right: 10px;
   bottom: 10px;
   visibility: visible;
   opacity: 1;
}
.player {
   z-index: 10;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   transition: 1.4s;
   background-color: rgba(0, 0, 0, 0.8);
   color: #fff;
   width: 100%;
   height: 120px;
   position: fixed;
   left: 0px;
   padding: 10px 20px;
   bottom: 0px;
}
.player-hidden {
   bottom: -100%;
   transition: 0.4s;
}
.player-show {
   bottom: 0%;
   transition: 0.4s;
}
.player .info {
   display: flex;
   flex-direction: row;
   gap: 20px;
   min-width: 240px
}

.player .progressTime {
   display: flex; 
   flex-direction: row;
   width: 33%;
   align-items: center;
   gap: 10px;
}

.player .progress {
   height: 100%;
   background-color: #fff;
}

.player .progress__container {
   width: 100%;
   background-color: rgb(73, 73, 73);
   height: 10px;
   border-radius: 10px;
   overflow: hidden;
}

.player .buttons {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
}
.player .cover {
   width: 100px;
   height: 100px;
   border-radius: 50px;
   overflow: hidden;
}
.player .cover img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.player .info-right {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.songer-single {
   color: var(--text-color);
   text-decoration: none;
   transition: 0.4s;
   position: relative;
   width: 220px;
   padding: 10px;
   background-color: rgba(255, 255, 255, 0.1);
   overflow: hidden;
}

.songer-single .album-photo {
   width: 200px;
   height: 200px;
}

.songer-single .album-photo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.songer-single .name {
   font-size: 20px;
   padding-top: 5px;
}
