body {
   background-color: var(--background-color);
}
.logo {
   font-family: 'Nova Square', sans-serif;
   color: var(--text-color);
   font-size: 24px;
   align-self: center;
}
header {
   padding: 20px 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.header-menu {
   display: flex;
   flex-direction: row;
   gap: 20px;
   color: var(--text-color);
   list-style: none;
   padding: 0;
}
.header-menu a {
   text-decoration: none;
   color: var(--text-color);
   font-family: 'Teko', sans-serif;
   font-size: 18px;
   transition: 0.4s;
}
.header-menu li:hover a{
   transition: 0.4s;
   color: var(--hover-color)
}
header form {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}
header form input {
   border: 1px solid var(--text-color);
   background-color: var(--secondary-color);
   border-radius: 8px;
   padding: 5px 10px;
}
.song-single {
   width: 220px;
   padding: 10px;
   background-color: rgba(255,255,255, 0.1);
}
.song-single .album-photo {
   width: 200px;
   height: 200px;
}
.song-single .album-photo img {
   width: 100%;
   height: 100%;
}
.song-single .name {
   color: var(--text-color);
   font-family: 'Teko', sans-serif;
   font-size: 20px;
   padding-top: 5px;
}
.song-single a {
   display: block;
}