body {
   background-color: var(--background-color);
   font-family: 'Teko', sans-serif;
}
.container {
   width: 100%;
   max-width: 1240px;
   padding: 0px 20px;
   margin: 0 auto;
}
.main-list {
   display: flex;
   flex-direction: row;
   gap: 20px;
   flex-wrap: wrap;
}
.logo {
   font-family: 'Nova Square', sans-serif;
   color: var(--text-color);
   font-size: 24px;
   align-self: center;
}
header {
   padding: 20px 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.header-menu {
   display: flex;
   flex-direction: row;
   gap: 20px;
   color: var(--text-color);
   list-style: none;
   padding: 0;
}
.header-menu a {
   text-decoration: none;
   color: var(--text-color);
   font-size: 18px;
   transition: 0.4s;
}
.header-menu li:hover a{
   transition: 0.4s;
   color: var(--hover-color)
}
header form {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}
header form input {
   border: 1px solid var(--text-color);
   background-color: var(--secondary-color);
   border-radius: 8px;
   padding: 5px 10px;
}
.song-single {
   transition: 0.4s;
   position: relative;
   width: 220px;
   padding: 10px;
   background-color: rgba(255,255,255, 0.1);
   overflow: hidden;
}
.song-single .album-photo {
   width: 200px;
   height: 200px;
}
.song-single .album-photo img {
   width: 100%;
   height: 100%;
}
.song-single .name {
   color: var(--text-color);
   font-size: 20px;
   padding-top: 5px;
}
.song-single a {
   display: block;
   font-family: 'Inter', sans-serif;
   text-decoration: none;
   color: #fff;
}
.song-single .play-button {
   background-color: var(--text-color);
   border: none;
   width: 45px;
   height: 45px;
   border-radius: 50px;
   position: absolute;
   z-index: 2;
   right: -20px;
   bottom: -20px;
   transition: 0.4s;
   visibility: hidden;
   opacity: 0;
}
.song-single:hover .play-button {
   right: 10px;
   bottom: 10px;
   visibility: visible;
   opacity: 1;
}
.player {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   transition: 1.4s;
   background-color: rgba(43, 6, 56, 0.5);
   color: #fff;
   width: 100%;
   height: 100px;
   position: fixed;
   left: 0px;
   padding: 0px 20px;
   bottom: 0px;
}
.player-hidden {
   bottom: -100%;
   transition: 0.4s;
}
.player-show {
   bottom: 0%;
   transition: 0.4s;
}
.player .info {
   display: flex;
   flex-direction: row;
}

.player .progressTime {
   display: flex; 
   flex-direction: row;
   width: 33%;
   align-items: center;
   gap: 10px;
}

.player .progress {
   height: 5px;
   background-color: #fff;
}

.player .progress__container {
   width: 100%;
   background-color: rgb(73, 73, 73);
   height: 5px;
   border: 10px;
   overflow: hidden;
}

.player .buttons {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
}